@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Add any other global styles here */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Ensure dark mode styles are applied correctly */
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* Utility classes for dark mode */
.dark .bg-nft-dark-900 {
  background-color: #0d0d0d;
}

.dark .border-black-1 {
  border-color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* NFT Gradient Class */
.nft-gradient {
  background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexStartCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.white-bg {
  background: rgba(255, 255, 255, 0.2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
